$theme-colors: (
    'primary': #3756A1,
    'secondary': #833bec,
    'success': #1ce1ac,
    'info': #ff7d50,
    'warning': #ffbe0b,
    'danger': #ff007f,
    'light': #f4f4f4,
    'dark': #001738,
);

@import '/node_modules/bootstrap/scss/bootstrap.scss';

.input-group {
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 325;
}