html,
body,
main,
#__next {
  padding: 0;
  margin: 0;
  display: block;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-color: rgb(248, 248, 248) !important;
  font-family: poppins thin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

#__next {
  min-height: 100%;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #3b3b3b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 325 !important;
}

input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  flex-direction: column;
}

.form-range {
  margin-bottom: 1rem;
  scrollbar-color: #3756A1 !important;
}

input:focus {
  outline: none;
  border-color: #3756A1;
}

.btn-primary {
  justify-content: center !important;
}

button {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #3756A1;
  text-decoration-color: white;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: grid;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  height: 100vh;
}